<div class="flex justify-between p-4 gap-2 w-full">
  <div class="lg:w-2/3 sm:w-full md:w-full p-4">
    <h2 class="font-semibold text-4xl p-4 mb-10"><%= @service.title.capitalize %></h2>
    <p class="p-2"><%= @service.description %></p>
    <p class="p-2"><span class="font-semibold">Categories:</span> 
      <% @service.categories.each do |category| %>
        <%= category %>
      <% end %>
    </p>

    <div class="mt-10">
      <%= render partial: 'reviews/service_rating_and_reviews', locals: { service: @service } %>
    </div>
  </div>
  
</div>
