<div class="<%= avatar_classes %>" data=<%= data %>>
  <% if src %>
    <%= image_tag src, class: "aspect-square h-full w-full", alt: alt, size: size %>
  <% else %>
    <div class="flex h-full w-full items-center justify-center rounded-full bg-muted">
      <%= image_tag 'default_avatar.jpg', alt: alt, size: size, class: 'rounded-full' %>
    </div>
  <% end %>
</div>
