<div class='flex h-12 w-full items-center justify-center text-xs'>
  <p>&copy;
  <%= link_to 'Ty Jacalan', 'https://github.com/TyJacalan', class: 'mx-auto text-primary underline' %>,
  2024
  </p>
</div>
