<p class="mt-2 text-center text-sm text-muted-foreground">
  <%= text %>
  <%= link_to link_text, 
              path,
              class: "font-medium text-primary/90 hover:text-primary"
  %>
</p>

