<div class="flex flex-col gap-2 p-5 h-screen">
  <h2 class="text-center font-semibold text-4xl p-4">Preview</h2>
    <%= render_card do %>
      <div class="p-2">
        <div class="font-semibold text-4xl p-4">
          <%#= service.title&.capitalize %>
          <span data-preview-target="title"></span>
        </div>
        <div class="p-4">
          <%#= service.description %>
          <span data-preview-target="description"></span>
        </div>
        <div class="p-4">
          <%#= number_to_currency(service.price, precision: 2, unit: '₱') %>
          <span data-preview-target="price"></span>
        </div>
        <p class="p-4">
          <span class="font-semibold">Categories:</span> 
          <div class="flex flex-col p-4 mr-4">
            <%# service.categories&.each do |category| %>
              <span><%#= category.title %></span>
            <%# end %>
          </div>
        </p>
      </div>
    <% end %>
</div>