<div class="mb-6">
  <p class="text-base font-semibold text-primary"><%= status_code if status_code.present? %></p>
  <h1 class="mt-4 text-3xl font-bold tracking-tight text-foreground sm:text-5xl"><%= status_header if status_header.present? %></h1>
  <p class="mt-6 text-base leading-7 text-muted-foreground"><%= status_body if status_body.present? %></p>
</div>
