<div class="flex lg:flex-1">
  <a href="/" class="-m-1.5 p-1.5">
    <span class="sr-only">Rails Auth Starter</span>
    <img class="h-8 w-auto"
    src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
  </a>
</div>
