<%= render_button(class: "bg-gray-200 w-full hover:bg-gray-200/90 text-background") do %>
  <%= render 'devise/google/logo' %>
  <% if controller_name == 'sessions' %>
    <span class="ml-2">Sign in with Google</span>
    <% else if controller_name == 'registrations' %>
      <span class="ml-2">Sign up with Google</span>
    <% end %>
  <% end %>
<% end %>
