<div data-controller="review">
    <div class="divider"></div>
    <div>
        <div data-review-target="overall"></div>
        <div data-review-target="item">
            <div>
                <p>Professionalism</p>
                <span class="professionalism"></span>
                <span></span>
            </div>
            <div>
                <p>Punctuality</p>
                <span class="punctuality"></span>
                <span></span>
            </div>
            <div>
                <p>Quality</p>
                <span class="professionalism"></span>
                <span></span>
            </div>
            <div>
                <p>Communication</p>
                <span class="professionalism"></span>
                <span></span>
            </div>
            <div>
                <p>Value</p>
                <span class="professionalism"></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="divider"></div>
    <div>
    </div>
</div>