#_review_with_comments_modal.html.erb
<div>
    <h3><%= review.title %></h3>
    <p><%= review.content %></p>
    <div id="comments-container">
        <% comments.each do |comment| %>
        <%= render partial: 'comments/comment', locals: { comment: comment } %>
        <% end %>
    </div>
    <div id="new-comment-notification" class="hidden">1 new comment</div>
</div>