#ratings_and_reviews.html.erb
<div data-controller="review">
    <div class="divider"></div>
    <div data-review-target="overall-rating">
        <!-- overall rating -->
    </div>
    <div class="divider"></div>
    <div data-review-target="reviews">
        <!-- reviews -->
    </div>
</div>