<footer class="h-fit w-full py-4">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between px-4 text-accent-foreground">
    <div class="text-sm text-center md:text-left mb-4 md:mb-0">
      <p>&copy; 2024 SkillSetGo. All rights reserved.</p>
    </div>
  </div>
</footer>
